version: "3.9"
services:
  web:
    image: "aposp-report-api"
    container_name: aposp-report-api
    build:
      context: ./src
      dockerfile: Dockerfile
      args:
        SKIP_CLIENT_APP_BUILD: ${SKIP_CLIENT_APP_BUILD}
    ports:
      - "8080:5000"
    environment:
      - CONNECTIONSTRING=Host=db;Port=5432;Username=aposp_report_app;Password=aposp_report_app_password;Database=aposp_report_db
      - ASPNETCORE_URLS=http://+:5000
      - APIKEY=${API_KEY}
    depends_on:
      - db
    restart: on-failure

  db:
    image: postgres:13.3
    container_name: aposp-report-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./db/var/prod/pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
      
  proxy:
    image: nginx:alpine
    container_name: aposp-report-proxy
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - web
    ports:
      - "4000:80"
    restart: on-failure