.item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item,
.item td {
  border: 1px solid black;
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.87);
  border-color: rgba(0, 0, 0, 0.12);
}

.item td {
  width: 64px;
  height: 48px;
  padding: 3px;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
}