.account-levels {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;

  &> app-account-levels-skill {
    flex: 50%;
    margin-top: 3px;
  }

  &> .overall-level {
    flex: 50%;
    margin-top: 15px;
  }
}